/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  /* background: var(--jazz1); */
}

.content ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-bottom: .2rem solid var(--jazz3);
}

.content ul li {
  list-style: none;
  width: 1rem;
  height: 1rem;
  background: var(--jazz1);
  border-radius: 50%;
  margin: 0 1rem;
  animation: animate .5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-2.5rem);
  }

  66% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(0);
  }
}

.content ul li:nth-child(1) {
  animation-delay: .2s;
}

.content ul li:nth-child(2) {
  animation-delay: .4s;
}

.content ul li:nth-child(3) {
  animation-delay: .6s;
}

.content ul li:nth-child(4) {
  animation-delay: .8s;
}

.content ul li:nth-child(5) {
  animation-delay: 1s;
}